
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// FontAwesome
@import "public/vendors/font-awesome/scss/font-awesome.scss";

// Bootstrap datetimepicker
@import "public/vendors/bootstrap-datetimepicker/src/sass/_bootstrap-datetimepicker.scss";

.has-feedback label~.form-control-feedback {
    top: 23px;
}

.alert-dark {
    padding: 1em;
    background-color: #2e3e4f !important;
    color: white;
}

table {
    border-collapse: collapse;
    overflow: hidden;
}

.swal2-popup {
  font-size: 1.6rem !important;
}

.blueFont {
    color: #000080;
}

th {
    padding: 1em;
    background: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

td {
    padding: 1em;
    border-right: 1px solid black;
    background: white;
}